.buttonLayout {
    position: relative;
}
.myButton {
    position: absolute;
    top: 63%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for center alignment */
    width: 240px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    background-color: #ffe12d;
    color: #484c91;
    text-shadow:
            -0.2px  -0.2px 0 #000000,
            0.2px 0.2px 0 #000000,
            -0.2px 0.2px 0 #000000,
            0.2px 0.2px 0 #000000;


    text-align: center;
    font-family: Josefin Sans, sans-serif;
    font-size: 23px;
    font-style: normal;
    border: 2.2px solid #484c91;
    padding-top: 14px; /* adjust as needed */
    padding-bottom: 30px;
    transition: transform 0.3s ease;
}

.myButton:hover {
    cursor: pointer;
    background: #484c91;
    color: #ffe12d;
    text-shadow:
            -0.2px  -0.2px 0 #ffe12d,
            0.2px 0.2px 0 #ffe12d,
            -0.2px 0.2px 0 #ffe12d,
            0.2px 0.2px 0 #ffe12d;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    border-radius: 15px 15px 15px 15px;
    font-size: 23px;
    font-style: normal;
    border: 2.2px solid #ffe12d;
    transform:  translate(-50%, -50%) scale(1.1);
    padding-top: 14px; /* adjust as needed */
    padding-bottom: 30px;
    transition: transform 0.3s ease;
    box-shadow:
            inset 0 0 10px 2px rgba(0, 0, 0, 0.5), /* Inner shadow effect */
            -0.2px -0.2px 0 #ffe12d,
            0.2px 0.2px 0 #ffe12d,
            -0.2px 0.2px 0 #ffe12d,
            0.2px 0.2px 0 #ffe12d;
}

#progressContainer {
    background-color: grey;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

#starIndicator {
    width: 15px;
    height: 15px;
    background-image: url('images/star.png');
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
#storyText {
    color: #ffe12d;
    text-shadow:
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px  1px 0 #000000,
            1px  1px 0 rgba(0, 0, 0, 0.04);
    line-height: 1.3;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: rgba(68, 71, 124, 0.8);
    border-radius: 15px 15px 15px 15px;
    transform: translateX(-50%);
    width: 76%;
    height: 24%;
    z-index: 10;
}


#toggleMusicBtn {
    position: absolute;
    top: 50px;          /* 10px from the top of the screen */
    right: 30px;
    border-radius: 12px 12px 12px 12px;
    background-color: #ffe12d;
    color: #484c91;
    height: 30px;
    width: 140px;
    border: 2.2px solid #484c91;
    font-family: Josefin Sans, sans-serif;
}
#toggleMusicBtn:hover {
    cursor: pointer;
    background-color: #484c91;
    color: #ffe12d;
    border: 2.2px solid #ffe12d;
}